.profile {
  width: 100vw;
  max-width: 100vw;
  background-color: cadetblue;
  box-sizing: border-box;

  .profile_cover {
    width: 100vw;
    height: 300px;
    padding-bottom: 50px;
    display: flex;
    flex-direction: column;
    justify-content: flex-end;
    background: linear-gradient(
        to right,
        rgba(0, 0, 0, 0.7),
        rgba(0, 0, 0, 0.1)
      ),
      url("https://source.unsplash.com/random/?nature");
    background-position: center;
    background-repeat: no-repeat;
    background-size: cover;
    background-color: brown;
    padding-left: 45%;

    .profile_coverName {
      color: #fff;
      font-family: "Bebas Neue", cursive;
      font-size: clamp(1.8rem, 3vw, 4rem);
    }

    .profile_coverInfo {
      color: #fff;
      font-family: "Roboto", sans-serif;
      font-size: clamp(1rem, 2vw, 1.4rem);
    }
  }

  .profile_info {
    width: 100vw;

    .profile_infoCard {
      width: 500px;

      .profile_infoCardImg {
        height: 250px;
        width: 250px;
        object-fit: cover;
      }
    }
  }
}
