.quizResults {
  width: 100%;
  min-height: 100vh;
  display: flex;
  flex-direction: column;
  justify-content: center;
  align-items: center;
  font-family: "Roboto", sans-serif;

  p {
    font-size: clamp(1.5rem, 2vw, 3rem);
    margin-bottom: 20px;
  }
  .finished {
    font-size: clamp(2rem, 3vw, 3rem);
    font-family: "Bebas Neue", cursive;
  }

  .quizResults_btns {
    display: flex;
    margin-top: 20px;
    .homeBtn {
      font-size: 1rem;
      text-decoration: none;
      color: rgb(0, 0, 0);
      width: 120px;
      height: 40px;
      margin: 7px;
      background-color: #4cacbc;
      border: none;
      border-radius: 3px;
      display: flex;
      justify-content: center;
      align-items: center;
      transition: 0.3s;

      &:hover {
        background-color: #6cc4a1;
        transform: scale(1.1);
        transition: 0.3s;
      }
    }
  }
}

@media only screen and(max-width: 480px) {
  .quizResults_btns {
    flex-direction: column;
  }
}
