@import url("https://fonts.googleapis.com/css2?family=Bebas+Neue&display=swap");

.welcome {
  height: 100vh;
  width: 100vw;
  background-color: #f6e3c5;
  color: #4cacbc;
  font-size: 5rem;
  font-family: "Bebas Neue", cursive;
  display: flex;
  flex-direction: column;
  justify-content: center;
  align-items: center;
  position: relative;

  .welcome_text {
    margin: 0 20px;
    display: flex;
    flex-direction: column;
    justify-content: center;
    align-items: center;
    text-align: center;
    z-index: 99;

    p:nth-child(1) {
      font-size: clamp(7rem, 15vw, 17rem);
    }
    p:nth-child(2) {
      font-size: clamp(2rem, 4vw, 8rem);
      margin-top: -40px;
      text-shadow: 1px 1px 5px #ffffff;
    }
  }

  .welcome_login {
    margin-top: 60px;
    font-family: "Roboto", sans-serif;
    font-size: 1.2rem;

    z-index: 99;
    position: absolute;
    bottom: 5%;

    .welcome_loginbtn {
      color: #4cacbc;
      transition: 0.3s ease;
    }

    .welcome_loginbtn:hover {
      color: #ffffff;
      transition: 0.3s ease;
    }
  }

  .welcome_lightbulb {
    height: 80vh;
    width: 50vh;
    position: absolute;
    z-index: 0;
    background-image: url("../img/off.png");
    background-position: center;
    background-size: cover;
    animation: onoff 2s linear infinite;
  }
}

@keyframes onoff {
  0%,
  100% {
    background-image: url("../img/off.png");
  }
  50% {
    background-image: url("../img/on.png");
  }
}
